
body {
	background: #f2f0eb url(images/bg.png);
	
}
.AboutMe h1{
    font-size: 50px; font-family: arial; text-align: center; color: darkgray
}
.AboutMe h2{
    font-size: 30px; font-family: Arial; text-align: center; color: gray
}
.AboutMe h3{
    font-size: 30px; font-family: Comic; text-align: center; color :darkcyan
}
.AboutMe h4{
    font-size: 30px; font-family: Comic; text-align: center; color :yellow; margin: 5px
}
.Hobby {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.a {
    width: 30%; 
    text-align: center
}
.edu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    font-size: 15px;
    color: whitesmoke;
    border-style: double; border-radius: 5px; border-color: black;
    
}
.educate {
    width: 50%; 
    font-size: 30px;
    text-align: center;
    padding: 5px
}

.SocialMedia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    font-size: 15px;
    color: pink
}

.sosmed{
    width: 25%; 
    text-align: center
}
.picture{
    width: 30%;
    align-items: center
}

.navbar {
    background-color: #333;
    overflow: hidden;
}


.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}
* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}


.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}


.row,
.row > .column {
    padding: 8px;
}


.column {
    float: left;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.content {
    background-color: white;
    padding: 10px;
    text-align: center
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
body {
    background-color: aqua
}